<main class="forgot-password">
  <div class="forgot-password-container">
    <div class="forgot-password-form-section">
      <div class="forgot-password-header">
        <svg class="forgot-password-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
        </svg>
        <h1 class="forgot-password-title">Wachtwoord vergeten?</h1>
        <p class="forgot-password-subtitle">Geen probleem! Vul je e-mailadres in en we sturen je een link om je
          wachtwoord opnieuw in te stellen.</p>
      </div>

      <form class="forgot-password-form" action="forgot-password" method="post">
        <div class="forgot-password__inputs">
          <% locals.inputs?.forEach(input=> { %>
            <%- include('../partials/form-input', input) %>
              <% }); %>
        </div>

        <% if (locals.smtp_error) { %>
          <p class="error-message">
            <%= smtp_error %>
          </p>
          <% } %>

            <% if (!locals.smtp_error) { %>
              <button class="forgot-password-button" type="submit" value="request-reset">
                Verstuur herstel-link
              </button>
              <% } %>

                <div class="forgot-password-links">
                  <a class="forgot-password-link" href="/login">
                    <svg class="forgot-password__icon" xmlns="http://www.w3.org/2000/svg" fill="none"
                      viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                    </svg>
                    Terug naar inloggen
                  </a>
                </div>
      </form>
    </div>
  </div>
</main>