<main class="forgot-password">
  <div class="forgot-password-container">
    <div class="forgot-password-form-section">
      <div class="forgot-password-header">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="forgot-password-icon forgot-password-icon--success"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>

        <h1 class="forgot-password-title">herstel email verzonden!</h1>
        <p class="forgot-password-subtitle">
          Je zult een email ontvangen met een link om je wachtwoord opnieuw in
          te stellen. Als je geen email hebt ontvangen, controleer dan je
          spamfolder of probeer het opnieuw.
        </p>
      </div>
      <div class="forgot-password-links">
        <a class="forgot-password-link" href="/forgot-password">
          <svg
            class="forgot-password__icon"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
            />
          </svg>
          Opnieuw proberen
        </a>
      </div>
    </div>
  </div>
</main>
