<main>
  <h1 class="form__title">Wachtwoord vergeten?</h1>
  <form class="form" action="forgot-password" method="post">
    <% locals.inputs?.forEach(input=> { %> <%- include('../partials/form-input',
    input) %> <% }); %>

<% if (locals.smtp_error) { %>
  <p class="error-message"><%= smtp_error %></p>
<% } %>

    <button class="btn form__btn" type="submit" value="request-reset">
      Verstuur mail
    </button>
  </form>

  <div>
    <p class="form__small-text">
      <a class="link form__link" href="/login"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
          />
        </svg>
        Terug naar inloggen
      </a>
    </p>
  </div>
</main>
