<main>
  <h1 class="form__title">Inloggen</h1>
  <form class="form" action="/login" method="post">
    <% locals.inputs?.forEach(input => { %> <%-
    include('../partials/form-input', input) %> <% }); %>
 
    <button class="btn form__btn" type="submit">Inloggen</button>
  </form>
 
  <div>
    <p class="form__small-text">
      Heb je nog geen een account?
      <a class="link form__link" href="/register">registreer</a>
    </p>
  </div>
</main>