<main class="reset-password">
  <div class="reset-password-container">
    <div class="reset-password-form-section">
      <div class="reset-password-header">
        <svg class="reset-password-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
        </svg>
        <h1 class="reset-password-title">Wachtwoord resetten</h1>
        <p class="reset-password-subtitle">
          Vul je nieuwe wachtwoord in om toegang te krijgen tot je account.
        </p>
      </div>

      <form class="reset-password-form" action="reset-password" method="post">
        <div class="reset-password__inputs">
          <% locals.inputs?.forEach(input=> { %>
            <%- include('../partials/form-input', input) %>
              <% }); %>
        </div>

        <button class="reset-password-button" type="submit" value="request-reset">
          Wachtwoord wijzigen
        </button>

        <% if (locals.message) { %>
          <div class="form__message message-alert">
            <%= locals.message %>
          </div>
          <% } %>

            <div class="reset-password-links">
              <a class="reset-password-link" href="/login">
                <svg class="reset-password__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                </svg>
                Terug naar inloggen
              </a>
            </div>
      </form>
    </div>
  </div>
</main>