<main>
  <h1 class="form__title">Wachtwoord veranderen?</h1>
  <form class="form" action="reset-password" method="post">
    <% locals.inputs?.forEach(input=> { %> <%- include('../partials/form-input',
    input) %> <% }); %>

    <button class="btn form__btn" type="submit" value="request-reset">
      Verander wachtwoord
    </button>
    <% if (locals.message) { %>
    <div class="form__message"><%= locals.message %></div>
    <% } %>
  </form>
</main>
