<div>
    <h1>Beheerderspaneel</h1>
    <ul>
        <li><a href="/beheerderspaneel/leden">Leden beheren</a></li>
        <li><a href="/beheerderspaneel/wedstrijden">Wedstrijden beheren</a></li>
        <li><a href="/beheerderspaneel/bestellingen">Bestellingen beheren</a></li>
    </ul>
</div>