.forgot-password {
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgb(15 44 73 / 95%), rgb(15 44 73 / 85%));
  padding: 1.5rem;
}

.forgot-password-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  background-color: #f9fafb;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.forgot-password-form-section {
  padding: 2.5rem;
  width: 100%;
  position: relative;
}

