.form__page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background);
}

.form__page main {
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  border-radius: var(--radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form__group__label {
  font-size: 0.875rem;
  color: var(--muted-foreground);
  margin-bottom: 0.25rem;
}

.form__group__input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  background-color: var(--background);
  color: var(--foreground);
}

.form__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary);
}

.form__btn {
  width: 100%;
  text-align: center;
}

.form__small-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: var(--muted-foreground);

  svg {
    width: 1rem;
    height: 1rem;
    color: var(--muted-foreground);
  }
}

.error {
  color: var(--destructive);
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.input--danger {
  border-color: var(--destructive);
}

