/* Base styles */

@import url("base/reset.css");
@import url("base/variables.css");

/*alle imports voor de components styles */

@import url("components/buttons.css");
@import url("components/form.css");
@import url("components/modal.css");
@import url("components/sidebar.css");
@import url("components/table.css");
@import url("components/back.css");
@import url("components/card.css");
@import url("components/title.css");
@import url("components/cart.css");
@import url("components/consumables.css");
@import url("components/notifications.css");

/* alle imports van de pages styles */

@import url("pages/login.css");
@import url("pages/forgot-password.css");
@import url("pages/reset-password.css");
@import url("pages/wedstrijden.css");
@import url("pages/dashboard.css");
@import url("pages/profile.css");

/*alle imports van de common styles */

@import url("common/error-messages.css");

/* Layouts */

@import url("layouts/table-controls.css");

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
main {
  margin-top: 2rem;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
  display: none;
}
