:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(224, 71.4%, 4.1%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(224, 71.4%, 4.1%);
  --popover: hsl(0, 5.70%, 62.20%);
  --popover-foreground: hsl(224, 71.4%, 4.1%);
  --primary: hsl(262.1, 83.3%, 57.8%);
  --primary-foreground: hsl(210, 20%, 98%);
  --secondary: hsl(220, 14.3%, 95.9%);
  --secondary-foreground: hsl(220.9, 39.3%, 11%);
  --muted: hsl(220, 14.3%, 95.9%);
  --muted-foreground: hsl(220, 8.9%, 46.1%);
  --accent: hsl(220, 14.3%, 95.9%);
  --accent-foreground: hsl(220.9, 39.3%, 11%);
  --destructive: hsl(0, 84.2%, 60.2%);
  --destructive-foreground: hsl(210, 20%, 98%);
  --border: hsl(220, 13%, 91%);
  --input: hsl(220, 13%, 91%);
  --ring: hsl(262.1, 83.3%, 57.8%);
  --success: hsl(120, 56%, 48%);
  --warning: hsl(39, 100%, 50%);
  --radius: 0.5rem;
}
