.table-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;

  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;

    &::after {
      content: "";
      position: absolute;
      left: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1.25rem;
      height: 1.25rem;
      background-image: url("../../assets/images/search.svg");
      background-size: cover;
    }

    .search-input {
      width: 100%;
      padding: 0.5rem 1rem;
      border: 1px solid #caced1;
      border-radius: 0.5rem;
      color: #000;
      padding-left: 2.25rem;

      &:focus {
        outline: none;
        border-color: var(--primary);
      }
    }
  }

  .filter-container {
    display: flex;
    gap: 1rem;
    align-items: center;

    .filter-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.5rem;
      height: 1.5rem;
    }

    .filter {
      position: relative;
      display: flex;
      min-width: 200px;

      &::after {
        content: "";
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        width: 1.25rem;
        height: 1.25rem;
        background-image: url("../../assets/images/arrow.svg");
        background-size: cover;
      }

      .filter-select {
        appearance: none;
        width: 100%;
        padding: 0.5rem 1rem;
        padding-right: 2rem;
        background-color: #fff;
        border: 1px solid #caced1;
        border-radius: 0.5rem;
        color: #000;
        cursor: pointer;

        &:focus {
          outline: none;
          border-color: var(--primary);
        }

        option {
          padding: 0.75rem;
          color: #000;
          font-size: 1rem;
          border: none;
        }

        option:checked {
          background-color: var(--muted);
        }
      }
    }
  }
}
