.cards {
  display: grid;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  padding-left: 0;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--muted);
  color: var(--card-foreground);
  padding: 1rem;
  position: relative;
  border-radius: var(--radius);
  min-height: 150px;

  &:hover {
    .card__icon {
      color: var(--primary);
    }
    .card__title {
      color: var(--primary);
    }
  }

  .card__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .card__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
  }

  .card__full-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}
