.cart {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: none;
  background-color: var(--background);
}

.cart.show {
  display: block;
}

.cart-btn-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
}

.cart__items {
  display: flex;
  flex-direction: column;

  .cart__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    padding-block: 0.5rem;
    width: 100%;

    .cart__item__info {
      display: flex;
      align-items:center;
      gap: 1rem;

      .cart__item-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 0.5rem;
        margin-right: 1rem;
      }

      .cart__item-name {
        font-weight: bold;
        font-size: 1.2rem;
      }

      .cart__item-price {
        color: var(--color-primary);
        font-weight: bold;
      }
    }

    .cart__item-remove {
      cursor: pointer;

      color: var(--destructive);
      background-color: var(--destructive-light);

      &:hover {
        color: var(--color-white);
        background-color: var(--destructive);
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
