.cart {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: none;
  background-color: var(--background);
}

.cart.show {
  display: block;
}

.cart-btn-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}

.cart__items {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .cart__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);

    .cart__item-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 0.5rem;
      margin-right: 1rem;
    }

    .cart__item-name {
      font-weight: bold;
      font-size: 1.2rem;
    }

    .cart__item-price {
      color: var(--color-primary);
      font-weight: bold;
    }

    .cart__item-remove {
      cursor: pointer;
      color: var(--color-danger);
      font-size: 1.5rem;
    }
  }
}
