.modal {
  position: fixed;
  z-index: 69;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--overlay-medium);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: var(--background);
  margin: 10% auto;
  padding: 2rem;
  border-radius: var(--radius);
  width: 80%;
  max-width: 35rem;
  box-shadow: 0 0.25rem 1rem var(--shadow-medium);
}

.modal-content h2 {
  margin-bottom: 2rem;
}

.close {
  color: var(--muted-foreground);
  float: right;

  font-weight: bold;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.close:hover {
  color: var(--foreground);
}

.modal form > div {
  margin-bottom: 1rem;
}

.modal form div img{
  max-height: 300px;
  max-width: 100%;
  object-fit: cover;
}

.modal label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
  color: var(--muted-foreground);
}

.modal input[type="text"],
.modal input[type="email"],
.modal input[type="password"],
.modal input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--border);
  border-radius: var(--radius);
}
